@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: poppins;
}
body {
     background: #fff;
     min-height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
}
.video-card-container {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
     margin: 0 30px;
}
.video-card-container .video-card {
     background: #fff;
     width: 350px;
     height: 300px;
     margin: 15px;
     overflow: hidden;
     border-radius: 10px;
     box-shadow: 0 5px 25px rgba(2, 2, 2, 0.4);
}
.video-card-container .video-card .video-card-body {
     position: relative;
}
.video-card-container .video-card .video-card-body .video-thumbnail {
     position: relative;
     width: 350px;
     height: 200px;
     display: flex;
     justify-content: center;
     align-items: center;
     overflow: hidden;
     cursor: pointer;
}
.video-card-container .video-card .video-card-body .video-thumbnail .thumb-img {
     position: absolute;
     width: 100%;
     height: 100%;
     cursor: pointer;
}
.video-card-container .video-card .video-card-body .video-thumbnail .thumb-video {
     position: absolute;
     width: 102%;
     height: 102%;
     opacity: 0;
     transition: .5s;
}
.video-card-container .video-card .video-card-body .video-card-title {
     color: #222;
     font-size: .9em;
     font-weight: 600;
     height: 65px;
     padding: 10px;
     cursor: pointer;
}
.video-card-container .video-card .video-card-body .video-card-info {
     display: flex;
     justify-content: space-between;
     margin: 0 10px;
     font-size: .75em;
}
.video-card-container .video-card .video-card-body .video-card-info .user {
     text-decoration: none;
     color: #555;
}
.video-card-container .video-card .video-card-body .video-card-info .uploaded-time {
     color: #555;
}
.video-card-container .video-card .video-model-screen {
     z-index: 999;
     position: fixed;
     width: 100%;
     height: 100%;
     background: rgba(255,255,255,0.9);
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     padding: 0 30px;
     visibility: hidden;
     opacity: 0;
     transition: .5s ease;
     transition-property: visibility, opacity;
}
.video-card-container .video-card .video-model-screen.active {
     visibility: visible;
     opacity: 1;
}
.video-card-container .video-card .video-model-screen .video-model-content {
     position: relative;
     background: #fff;
     border-radius: 10px;
     box-shadow: 0 5px 25px rgba(2, 2, 2, 0.4);
     overflow: hidden;
     transform: scale(0.5);
     transition: transform 0.5s ease;
}
.video-card-container .video-card .video-model-screen.active .video-model-content {
     transform: scale(1);
}
.video-card-container .video-card .video-model-screen .video-model-content .model-video {
     max-width: 800px;
     width: 100%;
     height: auto;
}
.video-card-container .video-card .video-model-screen .vid-model-clise-btn {
     position: absolute;
     top: 0;
     right: 0;
     color: rgba(0,0,0,0.5);
     font-size: 2.5em;
     margin: 20px 30px;
     cursor: pointer;
     transition: .5s;
}
.video-card-container .video-card .video-model-screen .vid-model-clise-btn:hover {
     color: #222;
}
.video-card-container .video-card .video-model-screen .video-model-content .model-video-title {
     color: #222;
     font-size: 1.1em;
     font-weight: 600;
     padding: 5px 15px;
}
.video-card-container .video-card .video-model-screen .video-model-content .model-video-info {
     display: flex;
     justify-content: space-between;
     font-size: 0.75em;
     padding: 0 15px;
     margin-bottom: 15px;
}
.video-card-container .video-card .video-model-screen .video-model-content .model-video-info .user {
     color: #555;
     text-decoration: none;
}
.video-card-container .video-card .video-model-screen .video-model-content .model-video-info .uploaded-time {
     color: #555;
}